*body {
    width: 1200px;
    color: black;
   
}

.header {
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    align-items: center;
}

.header img {
    width: 100px;
    height: auto;
}

.header__nav-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;       
}
.header__right {
    width: 400px;
}
.header__center {
    width: 400px;
    text-align: center;
}
.header__left {
    width: 400px;
    text-align: left;
}

.main-content {
display: flex; 
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 50px;
}

.footer {
    background-color: lightgray;
    text-align: center;
    padding: 20px;
}